@import "../../global.scss";
.Container {
  display: flex;
  // position: relative;
  flex-wrap: wrap;

  @include mobile {
    display: flex;
    flex-direction: column;
  }
  h2 {
    @include mobile {
      font-size: 15px;
    }
  }

  .about {
    flex: 0.5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 20px;

    @include mobile {
      padding: 0px;
      // margin: 10px;
      // flex: 0.5;
    }

    .browser {
      margin-top: 30px;
      width: 100%;
      height: 90%;
      border: 2px solid $mainColor;
      border-radius: 15px 15px 0 0;
      overflow: hidden;

      @include mobile {
        margin-top: 0;
        width: 95%;
        height: 100%;
        
      }

      .circles {
        top: 0;
        padding: 0px;
        margin: 0;
        height: 40px;
        background-color: rgba(90, 24, 154, 0.58);
        display: flex;
        align-items: center;
        overflow: hidden;
        @include mobile {
          height: auto;
        }

        .circle {
          width: 12px;
          height: 12px;
          border-radius: 50%;
          margin: 6px;
        }
      }

      .top {
        display: flex;
        align-items: flex-start;
        padding: 20px;
        margin: 20px;
        @include mobile {
          // display: none;
          padding: 5px;
          margin: 0;
        }

        .dp {
          img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 2px solid $mainColor;
            object-fit: fill;
            background-color: $mainColor;

            @include mobile {
              width: 50px;
              height: 50px;

            }
          }
        }
        .info {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          @include mobile {
            h3 {
              font-size: 20px;
            }
            margin-left: 10px;
          }

          span {
            font-size: 14px;
            font-weight: 600;
            @include mobile {
            
            }
          }
          .resume {
            margin-top: 5px;
            transition: all 0.25s ease-in-out;
            button {
              padding: 3px;
              font-weight: 600;
              border: 1px solid black;
              border-radius: 10px;
              font-size: 14px;
              background-color: $mainColor;
              color: white;
              cursor: pointer;
              transition: all 0.25s ease-in-out;

              &:hover {
                transform: scaleX(1.025);
                box-shadow: 2px 2px 8px 0px rgba(90, 24, 154, 0.58);
                -webkit-box-shadow: 2px 2px 8px 0px rgba(90, 24, 154, 0.58);
                -moz-box-shadow: 2px 2px 8px 0px rgba(90, 24, 154, 0.58);
              }
            }
          }
        }

        .social {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin-left: 40px;
          padding-top: 20px;

          .infoItemLink {
            display: flex;
            align-items: center;
            justify-content: space-between;

            img {
              width: 35px;
            }
            span {
              font-size: 14px;
              font-weight: 600;
            }
          }
        }
      }

      .bottom {
        padding: 0px 40px;
        @include mobile {
          padding: 0;
        }
        ul {
          font-weight: 600;
          font-size: 18px;

          @include mobile {
            font-size: 14px;
          }

          .bullet {
            display: flex;
            align-items: center;
            img {
              width: 20px;
              @include mobile {
                width: 14px;
              }
            }

            li {
              list-style: none;
              margin-left: 10px;
            }
          }
        }
      }
      .quote {
        display: flex;
        align-items: center;
        padding: 40px;

        @include mobile {
          padding: 5px 0;
        }

        img {
          width: 60px;
          @include mobile {
            width: 30px;
          }
        }
        span {
          margin-left: 10px;
          font-size: 25px;
          font-family: "Dancing Script", cursive;
          font-weight: 700;
          color: $mainColor;

          @include mobile {
            font-size: 20px;
          }
        }
      }
    }
  }
  .skills {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px;

    @include mobile {
      padding: 10px 0;
      flex: 0.5;
      width: 100%;
      height: 100%;
      
    }

    .skillContainer {
      margin-top: 30px;
      width: 100%;
      height: 100%;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0px 125px 125px 125px;
      box-shadow: 2px 2px 8px 0px rgba(90, 24, 154, 0.58);
      -webkit-box-shadow: 2px 2px 8px 0px rgba(90, 24, 154, 0.58);
      -moz-box-shadow: 2px 2px 8px 0px rgba(90, 24, 154, 0.58);
      background-image: url("../../../public/assets/scbg.svg");
      background-repeat: no-repeat;
      overflow: hidden;

      @include mobile {
        display: block;
        margin: 5px;
        border-radius: 10px;
        border: 2px solid $mainColor;
        width: 90%;
      }

      .anime {
        display: block;
        flex: 1;

        @include mobile {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        iframe {
          width: 200px;
          height: 200px;
          margin: 0 10px;
          @include mobile {
            width: 150px;
            height: 100px;
            margin: 0;
          }
        }
      }

      .skillSection {
        flex: 3;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;

        @include mobile {
        }

        .skillItem {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 25%;
          padding: 10px;
          @include mobile {
            padding: 0;
            // width: 20%;
          }
          .icon {
            width: 50px;
            height: 50px;
            cursor: pointer;
            transition: all 1.5s ease;

            @include mobile {
              width: 30px;
              height: 30px;
            }

            &:hover {
              transform: rotate(-360deg);
            }
          }
          .title {
            font-size: 20px;
            font-weight: 600;
            @include mobile {
              font-size: 15px;
            }
            // color: $mainColor;
          }
        }
      }
    }
  }
}
