@import "../../global.scss";

// #59b256
.main {
  display: flex;
  flex-direction: column;

  .Contact {
    position: relative;
    height: 80%;
    flex: 7;

    

    .bg {
      width: 1.25rem;
      height: 115%;
      background-color: $mainColor;
      position: absolute;
    }
    .wrapper {
      padding: 3rem;
      display: flex;
      // height: 90%;

      @include mobile {
        flex-direction: column;
        padding: 0 1.875rem;
      }

      .left {
        flex: 1;

        .title {
          font-size: 2.5rem;
          width: 80%;
          @include mobile {
            font-size: 1.75rem;
            width: 100%;
          }
        }

        .info {
          .infoItem {
            display: flex;
            align-items: center;
            margin: 2rem 0px;
            font-weight: 300;
            width: 70%;

            @include mobile {
              margin: 0.25rem 0;
              width: 100%;
            }

            .icon {
              width: 2rem;
              height: 2rem;
              margin-right: 1rem;
            }
          }
          .infoItemLink {
            display: flex;
            align-items: center;
            margin: 2rem 0;
            font-weight: 300;
            width: 70%;

            @include mobile {
              margin: 0.25rem 0;
              width: 100%;
            }

            .icon {
              width: 2rem;
              height: 2rem;
              margin-right: 1rem;
            }
            a {
              text-decoration: none;
            }
          }
        }
      }

      .right {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include mobile {
          margin-top: 0.625rem;
        }

        .desc {
          font-weight: 300;
        }

        form {
          // margin-top: 1rem;

          @include mobile {
            // margin-top: 10px;
          }
        }
        .input-section {
          display: flex;

          .left-section {
            input {
              width: 100%;
              height: 2rem;
              border: none;
              border-bottom: 1px solid $mainColor;
              margin: 0.625rem 0px;
              // font-size: 1rem;
              padding-left: 0.625rem;
              transition: all 0.5s ease;

              @include mobile {
                height: 1.5rem;
                // font-size: 1rem;
              }

              &:focus {
                outline: none;
              }
              &:hover {
                transform: scale(1.025);
              }
            }
          }
          .lottie {
            transform: scale(1.5);

            @include mobile {
              display: none;
            }
            
          }
        }
        textarea {
          width: 100%;
          margin: 0.5rem 0px;
          // font-size: 16px;
          padding-left: 0.625rem;
          border: 2px solid $mainColor;
          transition: all 0.5s ease;

          &:hover {
            transform: scale(1.025);
          }
        }
        button {
          border: none;
          padding: 0.5rem;
          background-color: $mainColor;
          cursor: pointer;
          color: white;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 0.625rem;

          img {
            width: 1.3rem;
          }
        }
      }
    }
  }

  .footer {
    flex: 0.5;
    width: 100%;
    .footerbg{
      aspect-ratio: 1000/40;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      // background-image: url("../../../public/assets/footerbg.svg");
      display: flex;
      align-items: center;
      justify-content:center;
      text-align: center;
      font-size: 0.9rem;

      @include mobile {
        font-size: 0.8rem;
      }
    }
  }
}
