@import "../../global.scss";

// #59b256
.main {
  display: flex;
  flex-direction: column;

  .Contact {
    position: relative;
    height: 80%;
    flex: 9;

    .bg {
      width: 20px;
      height: 100%;
      background-color: $mainColor;
      position: absolute;
    }
    .wrapper {
      padding: 50px;
      display: flex;
      // height: 90%;

      .left {
        flex: 1;

        .title {
          font-size: 60px;
          width: 80%;
        }

        .info {
          .infoItem {
            display: flex;
            align-items: center;
            margin: 50px 0px;
            font-weight: 300;
            width: 70%;

            .icon {
              width: 40px;
              height: 40px;
              margin-right: 20px;
            }
          }
          .infoItemLink {
            display: flex;
            align-items: center;
            margin: 50px 0px;
            font-weight: 300;
            width: 70%;

            .icon {
              width: 40px;
              height: 40px;
              margin-right: 20px;
            }
            a {
              text-decoration: none;
            }
          }
        }
      }

      .right {
        flex: 1;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        .desc {
          font-weight: 300;
        }

        form {
          margin-top: 20px;
        }
        .input-section {
          display: flex;

          .left-section {
            input {
              width: 100%;
              height: 50px;
              border: none;
              border-bottom: 1px solid $mainColor;
              margin: 10px 0px;
              font-size: 16px;
              padding-left: 10px;
              transition: all 0.5s ease;

              &:focus {
                outline: none;
              }
              &:hover {
                transform: scale(1.025);
              }
            }
          }
          .lottie {
            transform: scale(1.5);
            
          }
        }
        textarea {
          width: 100%;
          margin: 10px 0px;
          font-size: 16px;
          padding-left: 10px;
          border: 2px solid $mainColor;
          transition: all 0.5s ease;

          &:hover {
            transform: scale(1.025);
          }
        }
        button {
          border: none;
          padding: 10px;
          background-color: $mainColor;
          cursor: pointer;
          color: white;
          font-weight: 500;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;

          img {
            width: 25px;
          }
        }
      }
    }
  }

  // .footer {
  //   flex: 1;
  //   width: 100%;
  //   aspect-ratio: 1000/50;
  //   background-repeat: no-repeat;
  //   background-position: center;
  //   background-size: cover;
  //   background-image: url("../../../public/assets/footerbg.svg");
  // }
}
