@import "../../global.scss";
.Works {
  background-color: crimson;
  aspect-ratio: 1000/500;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  .swing {
    position: absolute;
    left: -50px;
    top: -100px;
  }

  .arrow {
    // height: 50px;
    position: absolute;
    cursor: pointer;

    &.left {
      left: 100px;
      transform: rotateY(180deg);
    }
    &.right {
      right: 100px;
    }
  }

  .slider {
    height: 450px;
    display: flex;
    position: absolute;
    left: 0;
    transition: all 1.5s ease-out;

    .workContainer {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 850px;
        height: 100%;
        padding: 10px;

        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid $mainColor;
        transform: scale(1.025);
        box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
        background-color: rgba(255, 255, 255, 0.15);

        backdrop-filter: blur(50px);

        .left {
          flex: 4;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .leftContainer {
            width: 90%;
            height: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // color: #17255a;
            color: black;

            .imgContainer {
              // width: 40px;
              // height: 40px;
              // border-radius: 50%;
              // background-color: rgb(219, 142, 114);
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 25px;
              }
            }

          }
          h2 {
            font-size: 40px;
            font-weight:900;
          font-family: "Dancing Script";
            
          }
          p {
            font-size: 18px;
            font-weight: 300;
          }
          .tech {
            // margin-top: 5px;
            color: rgb(218, 215, 198);
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .techItem {
            }
          }
          .liveWebsite {
            display: flex;
            align-items:flex-start;
            // justify-content:center;
            margin-top: 20px;
            img{
              width: 40px;
              height: 40px;
            }
          }
          button {
            margin-left: 15px;
            width: 40%;
            color: white;
            padding: 5px;
            background-color: purple;
            font-size: 14px;
            font-weight: 600;
            border-radius: 10px;
            cursor: pointer;
            margin-top: 10px;
            border: none;
          }
        }
        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            position: absolute;
            top: 0;
            transition: all 5s ease-in-out;
            cursor: pointer;
            object-fit: contain;

            &:hover {
              transform: translateY(-100%);
            }
          }
        }
      }
    }
  }
}
