@import "./global.scss";

.App {
  height: 10vh;

  .sections {
    width: 100%;
    height: calc(100vh - 4.375rem);
    background-color: white;
    position: relative;
    top: 4.375rem;
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scrollbar-width: none; //for firefox
    &::-webkit-scrollbar {
      display: none;
    }

    > * {
      width: 100vw;
      height: calc(100vh - 4.375rem);
      scroll-snap-align: start;
    }
  }
}
